$primaryColor: #f06a6a;
$primaryDarkColor: #d43b37;
$primaryLightColor: #fc6969;
$primaryTextColor: #FFFFFF;
$accentColor: #f06a6a;
$accentDarkColor: #fc6969;
$accentLightColor: #AED581;
$accentTextColor: #fc6969;
@import '../sass/theme/_theme';