$primaryColor: #ff0000;
$primaryLightColor: #FF6144;
$primaryTextColor:#FFFFFF;
$primaryTextHoverColor:#ffffff;
$accentColor:#FFC107;
$accentLightColor:#FFECB3;
$accentTextColor:#ffffff;
$activeMenuItemTextColor:#03A9F4;
$darkActiveMenuItemTextColor:#4FC3F7;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../../sass/layout/_layout';