$primaryColor:#478A6F;
$primaryLightColor:#478A6F;
$primaryTextColor:#242424;
$primaryTextHoverColor:#ffffff;
$accentColor:#FFC107;
$accentLightColor:#FFECB3;
$accentTextColor:#242424;
$activeMenuItemTextColor:#478A6F;
$darkActiveMenuItemTextColor:#478A6F;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../../sass/layout/_layout
