.icoColors {
    display: inline-block;
    height: 2em;
    text-align: center;
    line-height: 2em;
    white-space: nowrap;
    color: #fff;
    background-color: #ffcb05;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    font-size: 14px;
    padding: 0 15px;
    margin: 0 10px;
}

.icoColors:hover {
    background-color: #e39b00;
}

:host/deep/ .ui-button,
:host/deep/ .ui-datepicker-buttonpane>button {
    overflow: hidden;
    background: #34cfe6 !important;
    border-radius: 15px;
    border: 1px solid #34cfe6;
    color: #FFFFFF;
    font-size: 14px;
    height: 2em;
    padding: 0 15px;
    line-height: 2em;
    border: 0 none;
    margin: 0 10px;
}

:host/deep/ .ui-button:enabled:hover,
:host/deep/ .ui-datepicker-buttonpane>button:enabled:hover {
    background-color: #39e1fa !important;
}

:host/deep/.ui-widget:disabled,
:host/deep/ .ui-state-disabled {
    opacity: 0.6;
    filter: Alpha(Opacity=35);
    cursor: auto !important;
    color: #ccc;
    background: #f8f8f8 !important;
    border: 1px solid #e8e8e8;
}