$border-color: #34cfe6 !default; //边框颜色 //默认
$placeholderFont-color: #a6a6a6 !default; //默认字体颜色(placeholder)
$background-color: #f8f8f8 !default; //背景颜色

:host/deep/ .ui-calendar .ui-inputtext {
    width: 100%;
    border-radius: 3px;
    padding: 4px 5px;
    border: 1px solid #a6a6a6;
    color: #333;

    @media screen and (min-width: 1200px) {/* lg */
        height: 32px;
    }
    @media screen and (min-width:992px) {/* md */
        height: 28px;
    }
    @media screen and (min-width:768px) {/* sm */
        height: 24px;
    }

    &:hover {
        border-color: $border-color;
    }
    &:focus {
        border-color: $border-color;
        background: $background-color;
    }

    &::input-placeholder {
        color: $placeholderFont-color;
    }
    &::-webkit-input-placeholder {/* webkit browsers */
        color: $placeholderFont-color;
    }
    &:-moz-input-placeholder {/* mozilla firefox 4 to 8 */
        color: $placeholderFont-color;
    }
    &::-moz-input-placeholder {/* mozilla firefox 19+ */
        color: $placeholderFont-color;
    }
    &::-ms-input-placeholder {/* ie 10+ */
        color: $placeholderFont-color;
    }
}

:host/deep/ .ui-calendar .ui-inputtext:disabled {
    background: $background-color;
}