// color三个品牌主色
$color_main:#34CFE6; //用于头部、需要强调和突出的颜色
$color_main_a:#004257; //用于头部、左侧菜单和标题的颜色
$color_main_b:#ffcb05; //用于导航选中、辅助类图型的颜色
// 辅色 辅助色彩的气质及感受与标准色彩相辅相成，但在视觉系统中不占据主要位置
$color_assist_a:#87d608;
$color_assist_b:#fe5a48;
$color_assist_c:#34cfe6;
$color_assist_d:#333333;
$color_assist_e:#666666;
$color_assist_f:#999999;
$color_assist_g:#cccccc;
$color_assist_h:#e8e8e8;
$color_assist_i:#f0f0f0;
* {
    font-family: Arial;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

.font_btn_max {
    font-size: 18px;
}

.font_btn_mind {
    font-size: 16px;
}

.font_btn_common {
    font-size: 14px;
}

.font_btn_min {
    font-size: 12px;
}

.font_navigation_max {
    font-size: 18px;
    font-weight: bold;
    font-family: "PingFangSC-Regular"
}

.font_navigation_mind {
    font-size: 16px;
    font-weight: bold;
    font-family: "MicrosoftYaHei";
    font-weight: "Regular";
    color: #FFCB05;
}

.font_navigation_common {
    font-size: 14px;
    font-weight: bold;
    font-family: "PingFangSC-Regular";
    color: #004257;
}

.font_navigation_min {
    font-size: 12px;
    font-weight: bold;
}

// 公共样式1 
%public_style_a {
    width: 100%;
    border-radius: 3px;
    padding: 4px 5px;
    border: 1px solid #a6a6a6;
}

.btn_types_a {
    width: 100px; // width: 100%;
    border-radius: 3px;
    padding: 4px 5px;
    font-weight: bold;
    color: #333333;
    border: 1px solid #a6a6a6;
    font-size: 14px; // color: $color_main;
    // background-color: #34CFE6;
}

.btn_types_a:hover {
    background-color: #eaf8fe;
    color: #ffcb05
}

.btn_types_b {
    font-family: Arial;
    outline: none;
    width: 100px; // width: 100%;
    border-radius: 3px;
    padding: 4px 5px;
    font-weight: 300;
    color: #333333;
    border: 1px solid #a6a6a6;
    font-size: 14px; // color: $color_main;
    // background-color: #34CFE6;
}